<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Portfolio</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body>
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <div class="header item"><i class="code icon"></i>
                Lukas Corbitt
            </div>
            <a href="/" class="item">Home</a>
            <a href="/services" class="item">Services</a>
            <a href="/projects" class="item">Projects</a>
            <a href="/" class="item">Blog</a>
            <a href="/blogs/new" class="item">New Post</a>
            <a href="/contact" class="item">Contact</a>
        </div>
    </div>
