<%- include('partials/header.ejs') %>
<div class="ui main text container segment">
    <div class="ui huge header">
        <h1>New Blog</h1>
    </div>
    <form class="ui form" action="/blogs" method="POST">
        <div class="field">
            <label>Title</label>
            <input type="text" name="blog[title]" placeholder="Title">
        </div>
        <div class="field">
            <label>Image</label>
            <input type="text" name="blog[image]" placeholder="Image">
        </div>
        <div class="field">
            <label>Blog Content</label>
            <textarea required="true" name="blog[body]" placeholder="Type here..."></textarea>
        </div>
        <button class="ui green basic button">Submit</button>
    </form>
</div>
<%- include('partials/footer.ejs') %>